<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <%# <small>Copyright &copy; Your Website</small> %>
        <small>Copyright &copy; <%= link_to "Cecilia Cerna", "https://www.facebook.com/cecilia.cerna.14", class: "text-white" %></small>
    </div>
</footer>